<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMeasurementClientService">
                    <security>
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMeasurementUnitService">
                    <security>
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8008/WCF_TempHumidService/MeasurementUnit"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMeasurementUnitService"
                contract="WCF_TempHumidService.IMeasurementUnitService" name="NetTcpBinding_IMeasurementUnitService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8008/WCF_TempHumidService/MeasurementClient"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMeasurementClientService"
                contract="WCF_TempHumidService.IMeasurementClientService"
                name="NetTcpBinding_IMeasurementClientService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>